doctype html
html(lang="en")
    include head.pug 
    body 
        nav 
            div.nav-wrapper.grey
                div.container
                    a(href="/" class="brand-logo left") Fast Shop 
                    ul.right 
                        li
                            a(href="/shoppingcart" class="clear-btn btn grey lighten-1") Back 
        br
        div.container
            h3.center-align 
                | Total Item Price: 
                span.item-price #{totalItemPrice}
            ul#item-list.collection 
                li(class="collection-item" id=id)
                    strong Item: 
                    | #{name}  ||  
                    strong Quantity: 
                    | #{quantity}  ||  
                    strong Single Item Price: 
                    | #{price}
                br    
                p.collection-item #{description}
        footer 
            div.container
                ul.right 
                    li
                        a(href="/shoppingcart/checkout" class="buy-btn btn grey lighten-1 right") Buy Now
    
    script(src="../../cart.js") 
    script(src="../../cart_service_client.js")
    script(src="../../ui_basic_utils.js") 
    script(src="../../ui_main_utils.js") 
    script(src="../../item_specification.js") 